@import url('http://fonts.cdnfonts.com/css/sf-ui-display');

* {
    font-family: "SF UI Display";
}

#words {
    resize: none;
    height: auto;
    width: 25%;
    margin-top: 2em;
}

#book {
    margin-top: 4em
}

#output {
    width: 80%;
    resize: none;

}
